body {
  background-color: #ececec;
  font-family: "SplineSans-Regular", sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SplineSans-Bold", sans-serif;
}

.color-dark {
  color: #2b283a;
}

.bils {
  width: 100px;
  height: 100px;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  font-family: "SplineSans-Bold";
  font-size: 3em;

  transition: all 0.2s;
}
