:root {
  --color-primary: #59e391;
  --color-secondary: #227c9d;
  --color-dark: #2b283a;
}

body {
  background-color: #ececec;
  font-family: "SplineSans-Regular", sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SplineSans-Bold", sans-serif;
}

/********************************************/
/**        GAME MENU STYLING               **/
/********************************************/
/* MAIN MENU STYLING */
.main-menu {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

/* BUTTON STYLING */
.menuBtn {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  font-family: "SplineSans-Bold", sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.2s;
}

.menuBtn-primary {
  font-size: 1.25em;
  background-color: var(--color-primary);
}

.menuBtn-primary:hover {
  background-color: #fff;
  color: var(--color-primary);
  border: solid 5px var(--color-primary);
  transform: translate(3px, 2px);
}

.menuBtn-secondary {
  background-color: var(--color-secondary);
}

.menuBtn-secondary:hover {
  background-color: #fff;
  color: var(--color-secondary);
  border: solid 5px var(--color-secondary);
  transform: translate(3px, 2px);
}

.color-dark {
  color: var(--text-dark);
}

.bils {
  width: 100px;
  height: 100px;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  font-family: "SplineSans-Bold";
  font-size: 3em;
  transition: all 0.2s;
}

.bils:hover {
  cursor: pointer;
}

.shake {
  animation: shake 0.2s;
}

.duration-box {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 5px;
  border-radius: 12px;
}

.duration-bar {
  height: 100%;
  opacity: 0.75;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
